[2017-04-18 05:11] kybishop opened #2 "Testing"
We should have a test for each option that we can pass into ember-popper. For things already heavily tested in popper.js, like `placement`, a simple smoke test to ensure that the option is passed through correctly should suffice.

Caveat: No jquery please.

- [x] eventsEnabled (smoke test) [#26]
- [x] modifiers (smoke test) [#25]
- [x] placement (smoke test) [#22]
- [x] ~popperClass (smoke test is

[2017-04-20 17:01] FezVrasta commented on #2
Take in account that Popper.js, unlike Tether, has already a very solid test suite on its own. You just need to test the integration that this library provides with Ember.

[2017-04-24 08:14] FezVrasta opened #3 "Support for tagless components?"
I think it would be a nice addition to support tagless components:
[code]

[2017-05-02 19:10] kybishop commented on #3
This must have been added right before I clicked the "Watch" button for the repo, sorry for the late response!

@FezVrasta do you mean targeting a tagless component, passing a tagless component into an `{{#ember-popper}}`, or something else?

[2017-05-12 22:16] pzuraq opened #6 "META: API Discussion"
We're going to be using Popper.js for our app, but since we're on a legacy version of Ember at the moment we can't use this addon (and probably won't be able to use it until that Glimmer `render-in-place` helper arrives). However, we would like to match the external API of this component with our internal implementation so that when that time comes, we can swap it out and start contributing back.

[2017-05-12 22:21] pzuraq commented on #6
I also think we should try to preserve `class` instead of `popperClass` as an external API, can do some work to make that happen cleanly

[2017-05-12 22:37] kybishop commented on #6
Re flattening: I'm totally on board with this. Will happily accept PRs, or get around to it myself eventually.

Re preserving class: I'd love that. Went asking about this in #ember-cli and was recommended against it without employing a lot of trickery, but if you know a way to do it cleanly, that would be awesome.

[2017-05-15 19:16] kybishop commented on #3
@FezVrasta just wanted to send a ping to hear your thoughts

[2017-05-15 19:16] FezVrasta commented on #3
Sorry, I simply forwarded a request I got on my repository. I don't use Ember so I can't be much of a help...

[2017-05-15 20:29] kybishop commented on #3
heh no worries.

I think our hands are a bit tied with _targeting_ tagless components, since popper.js needs an element to target.

One can currently pass _in_ a tagless component as the popper's content, though it will be automatically wrapped to give popper.js something to target.

Going to close this out for now, though happy to hear specific requests from people if there is a pattern they'd li

[2017-05-15 20:29] #3 closed

[2017-05-23 20:57] kybishop commented on #6
Resolved in #11. Will make a separate issue for using `class` over `popperClass`.

[2017-05-23 20:57] #6 closed

[2017-05-23 20:58] kybishop opened #12 "Use `class` instead of `popperClass`"
One potential approach from @pzuraq:

https://github.com/pzuraq/liquid-wormhole/blob/master/addon/components/liquid-wormhole.js#L20-L32
https://github.com/pzuraq/liquid-wormhole/blob/master/addon/components/liquid-wormhole.js#L44

[2017-06-08 20:37] scottwernervt opened #14 "FastBoot support: ReferenceError: navigator is not defined"
**Instructions**

1. Clone `ember-popper`
1. `npm install`
1. `npm install ember-cli-fastboot --save-dev`
1. `ember serve` (depreciated `ember fastboot --serve-assets`)

[code]

**References**

* [Build Hooks for FastBoot](https://github.com/ember-fastboot/ember-cli-fastboot)
* [Fastboot Addon Author Guide](https://ember-fastboot.com/docs/addon-author-guide) _Depreciated in RC/1.0 EMBER_CLI_FASTBO

[2017-06-09 14:11] scottwernervt commented on #14
@kybishop I am encountering a failing test when running `ember test` on the master branch. I cannot figure out why ember-popper is not rendering, any ideas?

[code]
![integration - component - ember popper - it renders](https://user-images.githubusercontent.com/1048949/26979169-eb270868-4cfb-11e7-9f7e-45ef3698aa05.png)

[2017-06-10 05:28] kybishop commented on #14
Hey @scottwernervt, I haven't done too much work with Fastboot, but will start looking into this on Sunday.

[2017-06-10 16:55] scottwernervt commented on #14
@kybishop I created a pull request #15 to support the fastboot environment and fix the failing test.

[2017-06-15 14:53] FezVrasta commented on #14
have you tried the most recent version of Popper.js? I don't think it should throw errors if imported in a non browser environment

[2017-06-15 15:34] scottwernervt commented on #14
@FezVrasta Thanks for the heads up, I will try upgrading popper and running with fastboot.
* [1.8.4: Regression: ReferenceError: navigator is not defined](https://github.com/FezVrasta/popper.js/issues/238)
* [1.8.4: Regression: window.PopperUtils](https://github.com/FezVrasta/popper.js/issues/241)

[2017-06-19 14:25] scottwernervt commented on #14
After upgrading `ember-popper@^1.10.2` and `ember-cli-fastboot@^1.0.0-rc.4`, I encounter a new error with `navigator` not being defined.

[code]

[2017-06-19 14:28] FezVrasta commented on #14
I wonder why `isBrowser` is set to `true` in FastBoot.. It simply checks for `window` to being different from `undefined`.

I don't know how FastBoot works, but if it's similar to React SSR then, `window` in the Node env should be `undefined`

[2017-06-22 19:55] #14 closed

[2017-07-08 23:39] kybishop opened #20 "Legacy support (Ember <= 2.9)"
Ember-popper relies on Glimmer's `{{#-in-element}}` component, which only exists in 2.10 and up.

I'd like to add legacy support via a similar strategy as ember-tether uses, where elements are manually moved to the document body.

The legacy implementation must not affect performance of the standard implementation. This means having two separate implementations and conditionally requiring the corr

[2017-07-13 23:07] #2 closed

[2017-07-20 05:09] #20 closed

[2017-07-20 21:48] kybishop commented on #12
Resolved in #28

[2017-07-20 21:48] #12 closed

[2017-08-28 08:02] kybishop opened #34 "1.0 Roadmap"
Wanted to start a discussion on 1.0. There is no rush on this, but it seems like we have a pretty solid API and, as a result, 1.0 shouldn't be far off.

Things I see as blockers:
1. Discuss and come to a final decision on closure actions vs `sendAction` approach for `onFoundTarget`.
2. A barebones github.io dummy app (maybe steal something similar to [kybishop/ember-attacher](https://kybishop.gith

[2017-08-28 12:37] srvance commented on #34
Hi, @kybishop. With Bootstrap 4 now adopting popper.js for positioning as of the beta release, we're looking into using ember-popper to handle equivalent positioning in ember-bootstrap, possibly for Bootstrap 3 and 4. The time I spent on it this weekend wasn't very successful, but I think we'll have more feedback as the work progresses.

[2017-09-13 22:52] simonihmig opened #42 "Fails for IE9/10"
See:
* https://travis-ci.org/kaliber5/ember-bootstrap/jobs/275222245
* ![image](https://user-images.githubusercontent.com/1325249/30404265-330493ea-98e6-11e7-9167-e229bcfdd7d0.png)

Looks as if the use of ES6 classes extending from `Ember.Component` is not working here. Not sure why, maybe even some general issue outside the scope of ember-popper?

[2017-09-16 00:25] kybishop commented on #42
@pzuraq you're our resident es6 expert. Any thoughts on this/ie9-10 support?

@simonihmig how crucial is ie9/10 support? Seems like their combined market share is down to 1.7% and falling.

[2017-09-16 00:30] pzuraq commented on #42
Yeah this seems really weird, looks like Ember is throwing here. I'll need to dive in to see what's up, may have time over the weekend.

If worse comes to worst I'm ok with switching back to .extend, but IE9/10 usage have slipped a lot lately. LI officially only supports IE11, and it could be argued that it's getting closer to becoming a security concern, eol is coming up for both of them I believ

[2017-09-16 21:11] simonihmig commented on #42
I did a quick check yesterday, simply extending a component (using Ember object model, and working in IE9+) using an ES6 class, and this failed in IE9 with the same error. So this is for sure a general issue, not specific to ember-popper.

Well, my personal POV is simple: we don't support anything below IE11 for any of our *own* projects (**apps**!). However the situation for an **addon** is somew

[2017-09-17 16:30] bojanvidanovic opened #44 "How to add preventOverflow"
Hi, and thank for this ember wrapper of the lib.

At the moment it works nicely, except I was wondering how can I add preventOverflow with boundaries (.ember-application in our case)?

Thanks.

[2017-09-17 20:54] pzuraq commented on #44
You can pass an object for `modifiers`:

[code]

`modifiers` just gets directly passed to popper so you can configure it per the [popper docs](https://popper.js.org/popper-documentation.html#modifiers)

[2017-09-17 20:54] #44 closed

[2017-09-18 07:44] bojanvidanovic commented on #44
Awesome! Thank again.

[2017-09-18 13:30] simonihmig commented on #42
They have reached that already afaik! 😬

[2017-09-18 14:57] rwjblue commented on #42
Spoke with @simonihmig about this in slack.  The issue here is that `__proto__` is not functional in IE9 and IE10, and babel uses `__proto__` to handle static class methods/properties. To work around the issue you need something like `babel-plugin-transform-proto-to-assign` (or drop IE9 and IE10 support 😈 ).

[2017-09-18 14:57] rwjblue commented on #42
Spoke with @simonihmig about this in slack.  The issue here is that `__proto__` is not functional in IE9 and IE10, and babel uses `__proto__` to handle static class methods/properties. To work around the issue you need something like `babel-plugin-transform-proto-to-assign` (or drop IE9 and IE10 support 😈 ).

[2017-09-18 15:09] simonihmig commented on #42
Or drop ES6 class syntax here 😬

@rwjblue when we add the plugin [here](https://github.com/kybishop/ember-popper/blob/master/index.js#L44-L60), this will be restricted to transpilation of the addon only, and not fiddle with the consuming app, right?

[2017-09-18 15:40] rwjblue commented on #42
Hehe, indeed. Though it seems pretty odd to put too much effort into supporting IE9/IE10.  They are unsupported _and_ have super low market share...

Confirm.

[2017-09-18 23:26] pzuraq commented on #42
I'm torn on this a few ways. On the one hand I don't think the babel plugin should be added here, if anything is should be added to `ember-decorators` since this is more of an issue with the babel setup it adds. It should also be optional, since not all users want/need to support IE 9/10.

On the other hand, I hate supporting older IE versions - it just extends their lifespan and adds tech debt, a

[2017-09-18 23:30] pzuraq commented on #34
@srvance what issues did you have in particular? Definitely interested in getting feedback on the API now, before v1. Glad to help, and feel free to ping us on Slack in #dev-html-next too

Re: `sendAction` vs closure actions, I think we should stick to closure actions. That particular event should almost definitely be synchronous, so I don't think the runloop scheduling behavior will be good. For

[2017-09-18 23:40] kybishop commented on #42
+1. Seems like, if anything, this is an issue upstream. Going to close this for now, but feel free to discuss more here before we move it up the chain.

[2017-09-18 23:40] #42 closed

[2017-09-19 08:48] simonihmig commented on #42
I don't see how this is related to `ember-decorators` at all!? @rwjblue created [this demo](http://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&code_lz=MYGwhgzhAEBiD29oG8BQ1oQC5iwS2GgHMBTLaPCAYXgFsAHeAOxKawAoBKFaAJzICuvJtCy8BJANzQAvqjmpQkGACEwvaCQAeWVgBMYCJMgXBmEeCBIA6EPCLs1va5RoNmrLJ0lA&debug=false&circleciRepo=&evaluate=true&lineWrap=false&presets=es2015%2Cstage-2%2Cstage-3&pret

[2017-09-19 13:25] srvance commented on #34
@simonihmig has taken over the efforts on this and gotten much, much farther than I was able.

[2017-09-19 13:30] pzuraq commented on #42
My point is we don't have a user with these needs yet, so we shouldn't prematurely optimize. As soon as a user asks for this functionality, I'm happy to add it.

As for adding it to ember-decorators, you're correct there. My logic was that anyone who was using classes would also be using ember-decorators since it's pretty hard to be effective without them. It was also to avoid every single addon a

[2017-09-19 13:39] srvance commented on #42
I would support @simonihmig on this and contend that ember-bootstrap is bringing many users to ember-popper with these needs. We don't need to wait for them to scream, and in fact, as an established addon, it would be irresponsible to make them scream before addressing this.

I like the idea of babel not causing this problem in the first place, but it seems like something that should be worked aro

[2017-09-19 13:46] pzuraq commented on #42
Totally, then you're the user asking for the functionality 🙂 We'll work out a solution upstream somewhere, be it in `ember-decorators` or a different addon, and integrate it here

[2017-09-19 13:53] simonihmig commented on #42
I am not sure how Babel transpilation should work when pushing this upstream. As confirmed [here](https://github.com/kybishop/ember-popper/issues/42#issuecomment-330263726), we can make this plugin work just on the addon's tree, which seams reasonable to me. Making it do its work on the whole consuming app should be prevented I *think*, as it may not use ES6 classes at all and thus does not need i

[2017-09-19 14:10] srvance commented on #42
👍 And on behalf of many others.

[2017-09-19 14:11] pzuraq commented on #42
We discussed this in Slack, but the issue is that users will want this to apply to all addons and the app, not just this one. `ember-decorators` adds the transforms _just_ to its parent addon/app, which is how the upstream solution would work.

[2017-09-21 19:15] simonihmig commented on #42
May I ask how we can move this forward? As we discussed in Slack, it may be reasonable to add this plugin to `ember-cli-babel`, but I don't know how fast this will happen, and I am not sure I will be able to contribute this in the near future.

So as we discussed this quite a bit and invested some time, and this really is something that probably can be easily fixed and is still a *blocking* issue

[2017-09-21 19:21] kybishop commented on #42
@simonihmig Sorry for keeping you blocked! I'd love to have a solution for this that makes everyone happy. My gut says yes but I'd like to defer to @pzuraq since he understands the implications better than me.

[2017-09-21 19:24] pzuraq commented on #42
yeah it's reasonable to add it here if you're blocked on it. Feel free to submit the PR, we can merge and release as soon as it's ready.

[2017-09-21 19:41] simonihmig commented on #42
Thanks for the super quick response! Will do this soon, and make sure it runs fine in those godd****d IE! ;)

[2017-09-22 07:55] simonihmig commented on #42
Oh man, this drives me nuts... I tried this yesterday, but to no avail. Adding the plugin worked so far, and it did fix Ember throwing that type assertion. But then I see this error thrown somewhere within Glimmer code!? (*that's IE10 in this case*)

![image](https://user-images.githubusercontent.com/1325249/30734145-4752b3aa-9f7a-11e7-9876-a2f3b97e9480.png)

I don't know... I quickly refactored t

[2017-09-22 14:20] pzuraq commented on #42
Can you push the branch with the plugin so I can take a look?

[2017-09-22 16:24] simonihmig commented on #42
@pzuraq sure: https://github.com/simonihmig/ember-popper/tree/fix-ie

I also tried adding it as a `postTransformPlugin`, but that made no difference...

[2017-09-22 18:31] pzuraq commented on #42
Ok, will take a look when I get a chance. Does this also fail for IE10? It looks like Bootstrap has dropped support for IE9, so I think there's even less reason to go back that far.

[2017-09-22 18:52] simonihmig commented on #42
Yes, the screenshot above is IE10!

[2017-09-22 18:55] pzuraq commented on #42
👍 Cool, I'll dive in once I get the chance, probably Monday (all booked today).

[2017-09-25 22:23] simonihmig commented on #42
Given that the days of IE9/10 support in Ember itself seem to be counted (https://github.com/emberjs/rfcs/pull/252) - for good reasons - it maybe makes sense to rethink our requirements here. I would try to get some feedback from ember-bootstrap users on their requirements, and see what we can learn from that... so maybe we can put this issue on hold for now!

[2017-09-30 12:15] simonihmig commented on #42
As it turned out, nobody seemed to care about IE9/10 anymore. Which is nice, as we can bury this issue here finally!

However I really feel sorry for having all of you bugged so long about this. Quite needlessly as it turned out... Owe you a 🍺! 😋

[2017-10-01 06:47] kybishop commented on #42
@simonihmig no worries, glad it all worked out!

[2017-10-12 10:25] urbany opened #46 "Production build fails if sourcemaps are enabled"
Hi, first of all thanks for this awesome plugin!

I have a project which needs sourcemaps in production builds.
It was working fine in `ember-cli-uglify@1.2.0` but stopped after upgrading to `ember-cli-uglify@2.0.0`.
The build fails if I build for production with sourcemaps enabled (in `ember-cli-build.js`):
[code]

I have a reproduction here: [urbany/ember-popper-sourcemaps-error](https://github.

[2017-10-12 21:22] simonihmig commented on #46
We have received a similar issue here after having published ember-bootstrap 1.0.0-rc.3 that includes ember-popper as a dependency: https://github.com/kaliber5/ember-bootstrap/issues/468

[2017-10-13 08:56] urbany commented on #46
I managed to create a fix while this is not properly fixed:
[code]

*my-project/lib/fix-popper/package.json*
[code]

*my-project/lib/fix-popper/index.js*
[code]

This will strip the string that makes the build fail: `//# sourceMappingURL=popper.js.map`
I added a branch to the failing repo with this fix also: https://github.com/urbany/ember-popper-sourcemaps-error/tree/fix

[2017-10-13 12:41] urbany commented on #46
While we wait for a proper fix this solves it:
*ember-cli-build.js*
[code]

[2017-10-17 18:48] kybishop commented on #46
Man I really wish GitHub was better about notifying of issues on watched repos 😠

I'll dig into this today/tomorrow.

[2017-10-17 21:26] urbany commented on #46
@kybishop thanks! Just a small update: I talked with @rwjblue on slack and he created this issue: https://github.com/kratiahuja/fastboot-transform/issues/6

[2017-10-19 05:40] #46 closed

[2017-10-23 10:05] urbany commented on #46
Working great! Thanks @kybishop

[2017-11-02 09:29] simonihmig opened #56 "Type assertion fails in IE11"
Oh no, me again with this crappy IE issues... 😬

As I said, I updated to the latest ember-popper, and things worked out well so far, but I see tests for IE11 (Saucelabs) failing with `Types must either be a primitive type string, class, validator, or null or undefined, received: [object Element]`. See https://travis-ci.org/kaliber5/ember-bootstrap/jobs/296004049#L2388

I have not digged deeper so

[2017-11-02 09:33] simonihmig commented on #56
Indeed, I just checked this quickly in an IE11 VM:

![image](https://user-images.githubusercontent.com/1325249/32318948-21443012-bfb9-11e7-8756-b40a20e1266a.png)

[2017-11-02 14:32] pzuraq commented on #56
Interesting, it kind of makes sense becausw IE doesn’t support `new` for certain types.

The main question is, can we use `instanceof` in any way to check whether something is an element? If not, it looks like I’ll need to add some new primitive types to @ember-decorators/argument 😕

Sorry about the regressions btw, I’m going to setup Saucelabs on this and ember-decorators, it’s not ok to have the

[2017-11-02 22:16] kybishop opened #57 "Allow toggling of renderInPlace"
It turns out [removing the RAF wrapper](https://github.com/kybishop/ember-popper/pull/54/files#diff-2db71243b45c0ac108c694c726a3a068L148) from `this._updatePopper()` in `didUpdateAttrs` has an unintended consequence of running `this._updatePopper()` _before_ a rerender.

This is only an issue when toggling `renderInPlace`, which causes `this._getPopperElement` to return the about-to-be-destroyed `

[2017-11-03 00:55] #57 closed

[2017-11-03 09:35] simonihmig commented on #56
Seems to work fine:

![image](https://user-images.githubusercontent.com/1325249/32367517-a4fc9b1e-c082-11e7-9880-c5027df6686f.png)

It's just the `typeof` check that's not following the specs I guess...

[2017-11-03 21:18] pzuraq commented on #56
@simonihmig I have a fix out for this in @ember-decorators/argument, it's going to require another update here though since some breaking changes have been made there. I'm pretty sure this will work, should be able to get it out by Monday

[2017-11-03 21:59] simonihmig commented on #56
Great, thanks!

[2017-11-04 18:04] #56 closed

[2017-11-04 21:31] simonihmig commented on #56
Just updated and can confirm the issue is fixed in IE11. Thanks a lot!

[2017-12-02 00:33] kybishop commented on #34
My general thoughts on this are that we should wait on 1.0 until we have at least 2 straight months without the need for a breaking change. The recent necessary change to switch the `target` arg to `popperTarget` (#62) resets that clock today. If we hit the end of Feb without breaking changes or major concerns, I think we can safely publish 1.0.0

@sir-dunxalot I know you recently attempted to use

[2017-12-02 11:14] simonihmig commented on #34
Sounds good. Will try to update for the latest changes over the weekend.

[2017-12-02 23:48] simonihmig commented on #34
Just updated ember-bootstrap for the `target` change, was pretty easy, and all tests still passing. So no concerns so far from my side, looking forward for a stable release!

[2017-12-03 10:47] kybishop opened #64 "Production builds for addon and consuming apps are broken"
@pzuraq I've bisected this down to #61:

V0.7.3
[code]

v0.8.0
[code]

I'll dig into this tomorrow if you don't snag it first.

I feel like we've been bitten by this kind of thing before, but don't end up seeing it because it is contained in production-only code. I'll see about having some kind of clever test that sets a specific env which just makes sure production builds don't error.

[2017-12-03 10:49] kybishop opened #65 "Include a test which ensures production builds complete without error"
To prevent things like #64

[2017-12-03 17:53] pzuraq commented on #64
Should be fixed by https://github.com/ember-decorators/argument/pull/44

I'll submit a PR to add the production tests too, we do it with `ember-try` in `@ember-decorators/argument` so that's probably the easiest way to do it

[2017-12-03 22:26] #65 closed

[2017-12-03 22:37] kybishop commented on #64
fixed by #67. Thanks @pzuraq!

[2017-12-03 22:37] #64 closed

[2018-01-02 11:44] simonihmig opened #71 "Cleanup/Refactoring"
Before I start working on a PR I wanted to discuss this here with you folks. I played a bit recently with this `-in-element` thing, and did this one: https://github.com/kaliber5/ember-in-element-polyfill. This together with https://github.com/DockYard/ember-maybe-in-element would allow to simplify the code base quite a bit.

Especially I *think* it would allow to drop all the special legacy handli

[2018-01-02 18:11] pzuraq commented on #71
I would be alright with dropping 1.11 support for v1.0.0, we should be off of it sooner rather than later and we still would have stable point releases to use until then. If worse came to worst, we would be able to fork to continue development until then.

[2018-01-02 21:57] simonihmig commented on #71
Sounds good. Any objections to the proposed implementation changes, would you like to see this in a PR? @kybishop ?

[2018-01-03 03:41] kybishop commented on #71
This sounds great! Love an opportunity to simplify through  better abstractions

[2018-01-19 17:34] ctjhoa opened #74 "'-start' & '-end' shift ?"
Hi,

According to the Popper.js doc and some tests, popper.js handle some placement like `bottom-start`.

https://codepen.io/anon/pen/Ozrrmr

In your source you limit the placement to the main value

`Placement of the popper. One of ['top', 'right', 'bottom', 'left'].`

Is there a reason? Are these placement values should work even if it's undocumented?

Thanks

[2018-01-19 17:48] pzuraq commented on #74
I believe the other values can be used and we should probably update the docs to reflect that

[2018-01-19 18:07] simonihmig commented on #74
Confirm! Using this, works just fine! (https://github.com/kaliber5/ember-bootstrap/blob/master/addon/components/bs4/bs-dropdown/menu.js#L22-L39

[2018-01-22 10:38] ctjhoa commented on #74
Nice thanks!

[2018-01-22 10:38] #74 closed

[2018-01-28 16:57] absemetov opened #75 "WARNING"
I use Ember 2.18.1,
[code]
I install in my App
[code]
But warning show again.

[2018-01-28 17:02] absemetov commented on #75
[#73](https://github.com/kybishop/ember-popper/pull/73)

[2018-01-29 18:14] kariavka commented on #75
+1

[2018-01-30 04:36] kybishop commented on #75
I'll make an updated PR tomorrow if the author of #73 doesn't get too it first

[2018-01-31 05:50] #75 closed

[2018-02-14 05:07] andyhot commented on #46
If however someone inspects the generated vendor sourcemaps (for instance using @urbany repo which now pulls in ember-popper#0.6.6 and the production build succeeds), you'll find that they are broken (try the source-map-explorer tool)

Perhaps the workaround of importing the popper.js.map that was mentioned above helps but i haven't tried yet.

[2018-02-24 16:18] absemetov opened #79 "Cannot read property 'browsers' of undefined"
Ember 2.11

[2018-02-27 15:36] Owlman145 commented on #79
Same in 2.12.3. Wanted to update to remove ember-decorators depreciation, guess that's not possible.

[2018-02-27 15:41] Owlman145 commented on #79
Bug comes from ember-legacy-class-shim. Seems to check project targets for supported browsers, but AFAIK target.js was implemented in 2.15?

[2018-02-27 15:43] pzuraq commented on #79
You can upgrade Ember-CLI without upgrading Ember itself, but I’ll patch the shim upstream as well.

[2018-03-04 22:39] snewcomer opened #81 "Decorators import scoped to `@ember`"
I am trying to figure out how to use `@ember-decorators` in a project consuming this addon.  Because the import is still `import { tagName } from 'ember-decorators/components`, I am getting a build error because in my project, I am importing it like so: `import { tagName } from '@ember-decorators/components` (2.0.0-beta.1).  Is there any way to resolve this other than forking and updating this add

[2018-03-05 01:56] kybishop commented on #81
I'm attempted to use the ember-decorators beta in #80, but ran into a bug with ember 3.1. @pzuraq how would you feel about me removing ember-decorators for now so people can still use ember-popper until we can get around to a fix in ember-decorators?

[2018-03-05 04:28] pzuraq commented on #81
It would be a pretty big overhaul to remove decorators, if you'd rather drop them and classes for stability no problem, but it's not likely to be as simple as pop them out then back in. I can try to take a look at #80 tomorrow

[2018-03-12 02:13] pzuraq commented on #79
This should be fixed, I've updated the shim to check for targets existence.

[2018-03-12 02:13] #79 closed

[2018-03-13 07:57] buschtoens commented on #81
https://github.com/kybishop/ember-attacher/issues/114#issuecomment-370095854

Is that correct? I haven't yet discovered any problems with the v1 line of ember-decorators in my 3.0 app, but it might just be me.

If so, we either need to

- rip out ember-decorators
- upgrade to ember-decorators v2 beta

The latter would require users to upgrade their apps to v2 as well, which they probably should do

[2018-03-13 15:46] pzuraq commented on #81
#80 does this, we just haven't had time to dig into why tests are failing

[2018-03-13 15:55] buschtoens commented on #81
Oh yes, silly me. I'll try to look through it later. Maybe I find out something.

[2018-03-14 06:22] kybishop commented on #81
This will be fixed once https://github.com/ember-decorators/argument/pull/62 lands

[2018-03-20 05:31] kybishop commented on #81
This should be fixed by #80

[2018-03-20 05:31] #81 closed

[2018-03-20 05:38] kybishop opened #82 "Update README"
One currently has to read the source to see how ember-popper works... we should really fix this.

[2018-03-20 16:34] pzuraq commented on #82
ec-addon-docs? 😄

[2018-03-20 16:36] kybishop commented on #82
Super down. I'll give it a go soon

[2018-04-11 02:43] #71 closed

[2018-04-24 16:08] simonihmig opened #84 "Node 4 support"
#80 dropped support for node 4, at least it declared so in its `package.json`. While EOL is just in a few days, any addons building on top of ember-popper that follow SemVer and have reached a stable version (>1.0) would have to do a major version bump to drop support for it, which is not always desirable.

This currently at least breaks installation of this addon and any other having it as a depe

[2018-04-24 22:18] pzuraq commented on #84
Given that Node v4 is about to be EOL'd, I don't think it's worth the effort to continue supporting it. I forget the exact reasons for why we dropped support in `ember-decorators`, but it wasn't just out of convenience. Most libraries should major rev anyways as we move forward, numbers are cheap 😄

[2018-05-14 17:46] jamesarosen opened #86 "misaligned if parent initially hidden"
I have nested overlays:

[code]

When the page first renders, all of those elements are in the DOM but hidden. That mean that `this._initialParentNode` is well defined, but `this._initialParentNode.offsetParent` is `null`. This causes the tooltip (popper content) to be aligned to the top-left of the screen.

If I open the context menu _and then scroll or resize the viewport_ then the tooltip pops

[2018-05-14 17:51] pzuraq commented on #86
The way we're structuring our usage of popper, we insert the poppers lazily when the user actually needs them:

[code]

A separate tooltip component handles the logic of `buttonIsHovered`. I think this is a better choice when it is doable, it helps with initial load times (fewer components to render) but I can see cases where you would want to have the poppers in the DOM at all times (a11y, etc).

[2018-05-14 17:58] jamesarosen commented on #86
I opened https://github.com/FezVrasta/popper.js/issues/630 on the upstream Popper.js library since this can happen without ember.

[2018-05-14 18:04] jamesarosen commented on #86
A11y is precisely our reason for wanting the tooltip to always be in the DOM.

Indeed I have just such a component. The problem is that it doesn't have access to the `Popper` instance, so it can't call `scheduleUpdate` on it.

One possible solution would be to add some a hook like `didRenderPopper` that gets called with the `Popper` so the _containing_ context has access to that object. (Currently

[2018-05-14 18:28] jamesarosen commented on #86
Another possible solution would be something like
[code]
Then I could "invoke" that with
[code]

[2018-05-14 18:29] kybishop commented on #86
@jamesarosen you can use the `registerAPI` argument to call an action any time an attribute changes/get access to `scheduleUpdate`: https://github.com/kybishop/ember-popper/blob/master/addon/components/ember-popper-base.js#L255

[2018-05-14 19:49] jamesarosen commented on #86
This is perfect. Thanks!

@kybishop do you have any interest in an `{{ember-popper-tooltip}}` component that builds on `ember-popper-base`? So far, I have

 * position
 * caret
 * styling
 * render text in blockless or block form
 * show on click/focus/mouseover
 * hide on blur/mouseout
 * other a11y concerns

[2018-05-14 19:51] jamesarosen commented on #86
I do need the same `parentFinder` concept so I can add the event handlers to the relevant parent. So far, that's meant duplicating the logic from `ember-popper-targeting-parent`. Regardless of whether you think `{{ember-popper-tooltip}}` is appropriate for this library, I would love to find a way to extract that for reuse. A mixin might work.

[2018-05-14 19:54] kybishop commented on #86
Woot!

I'd like to keep ember-popper as just the positioning abstraction layer since it is used by other tooltip libraries. I worry that adding our own tooltip component would bloat consuming addons.

Ember-popper was initially built for use in [ember-attacher](https://github.com/kybishop/ember-attacher), and is now used in [ember-bootstrap](https://github.com/kaliber5/ember-bootstrap) as well. It

[2018-05-14 19:57] kybishop commented on #86
Duplicating logic from `ember-popper-targeting-parent` has been the go-to for consuming apps, the normal `ember-popper` component just allows them to bypass doing the same work twice.

Abstracting the parent-finding behavior out to a mixin might be nice... I wonder what implications that would have for code-readability in consuming addons.

[2018-05-14 20:27] pzuraq commented on #86
I'd prefer a utility function to a mixin, or both if possible. We're trying to avoid using mixins until a solid native class based solution arises in the JS ecosystem.

[2018-05-14 23:15] jamesarosen commented on #86
It turns out that I can avoid copying `parentFinder` by using the `popperTarget` from `registerAPI` :)

I think this resolves all my outstanding issues.

[2018-05-14 23:15] #86 closed

[2018-06-06 14:43] joeyrogues opened #87 ""Attempting to change value of a readonly property" on Safari 9"
Good morning,

# Stack

[code]

# Description
I suspect that ember-popper is not working on Safari 9.

The following code raises an exception in Ember:

[code]

The exception is on the `defineProperty` méthod. It says `n` already has the `name` property and that we are "Attempting to change value of a readonly property"

# Digging deeper

When digging deeper into ember-popper I've seen that the co

[2018-06-07 02:03] pzuraq commented on #87
Hey @joeyrogues, thanks for reporting this issue! It looks like this is being caused by the [legacy class shim](https://github.com/pzuraq/ember-legacy-class-shim) which is included for older version of Ember.js. Older versions of Ember can't use native class syntax, and the shim typically allows them to with some minor caveats.

The assignment you're pointing out is something we do to enable bette

[2018-06-08 07:38] joeyrogues commented on #87
Alright, got it. That makes sense.
Thanks for the quick answer :smiley:

[2018-06-08 07:38] #87 closed

[2018-07-24 04:28] bgentry opened #90 "no popper container in test mode with application-template-wrapper disabled"
I have disabled the optional `application-template-wrapper` feature like so in my `optional-features.json`:

[code]

When I then try to trigger a popper dropdown with `renderInPlace=false`, I get this error (only in test mode, via ember-bootstrap):

[code]

The DOM is not getting the wormhole container element appended to it in tests, though everything works fine in my app in dev / production. I h

[2018-07-24 17:08] bgentry commented on #90
Apologies, this is likely an ember-bootstrap issue. However the positioning / clipping problem is probably not so you might want a separate issue for that.

[2018-07-24 17:08] #90 closed

[2018-08-30 06:17] ghost opened #91 "Deprecation warning on Ember 3.4 from use of sendAction"
This line in `ember-popper-base.js` triggers deprecation warnings in Ember 3.4.

https://github.com/kybishop/ember-popper/blob/462532b2ffbb2c5e1d6192859144fd51d96af8ed/addon/components/ember-popper-base.js#L255

Can we change it to `this.registerAPI(this._getPublicAPI())`, given that closure actions are the way now and `sendAction` is deprecated?

I note the ` eslint-disable ember/closure-actions`

[2018-09-04 19:50] kybishop commented on #91
This was a holdover from 1.11 support, but I'm comfortable dropping that support now. Will come up with a PR to do so, or accept #92 if we can get the tests green ;)

[2018-10-04 18:48] #84 closed

[2018-10-11 20:18] kybishop commented on #91
closed in #94

[2018-10-11 20:18] #91 closed

[2018-10-12 03:36] kybishop opened #95 "Figure out why `Integration | Component | actions: it calls onUpdate` is non-deterministic again..."
Quite obnoxious that a number of tests keep losing their determinism....

Hope to investigate this so I can stop pressing the restart button in Travis.

[2019-03-31 19:25] simonihmig opened #98 "Support Angle Bracket Invocation"
While invoking `<EmberPopper>` with Angle Brackets works ootb, applying arbitrary attributes (`<EmberPopper role="menu">`) to the wormholed element does not. Currently only a few selected attributes are supported, and only when passing them as props (see https://github.com/kybishop/ember-popper/blob/master/addon/templates/components/ember-popper.hbs#L8). Supporting the former would require the use

[2019-04-12 23:56] simonihmig commented on #98
@kybishop any thoughts on this?

[2019-04-13 00:53] kybishop commented on #98
Hey @simonihmig, I started a full-time gig at a non-Ember startup that leaves me virtually no time for open source stuff. I trust your judgement, you're welcome to do whatever you think is best.

[2019-04-13 09:27] simonihmig commented on #98
Oh, good to know. Unfortunate for this project, but hopefully good for you and the startup, wish you luck there! 😀

I would then go forward and create a `release-0.9` branch in case something urgent comes up that needs to be fixed for the current version supporting older Ember versions, and prepare a new breaking change 0.10 release that would drop support for Ember < 2.18, adds the angle bracket

[2019-04-13 15:49] kybishop commented on #98
I'll add you on npm a little later today. You're welcome to merge and release stuff to your heart's content

[2019-06-08 15:07] #98 closed

[2019-06-12 14:21] urbany opened #105 "api._popperElement is undefined"
Hi, seems like there is a problem with the latest 0.10.0 release.

On my app, I always get that `api._popperElement` is undefined. I think this is because the API tries to get the `_popperElement` computed property before it returns.
1. the REF modifier sets the computed prop `_popperElement` in `ember-popper-base`.
2. Before that set returns, `_updatePopper`is called
3. at the end of `_updatePopp

[2019-06-24 08:57] #105 closed

[2019-07-08 18:13] tylerturdenpants opened #107 "Maintainers?"
do you need maintainers here as well?

[2019-07-15 15:04] kybishop commented on #107
Simon has taken over the project for the most part. @simonihmig would you want another hand?

[2019-07-16 17:14] simonihmig commented on #107
Oh sure! I have been using this as part of ember-bootstrap, and mostly focused on things I needed there. But if other issues arise, having someone to share the responsibility would be awesome!

[2019-07-16 17:17] kybishop commented on #107
It is done :)

[2019-07-16 17:17] #107 closed

[2019-07-31 06:55] shuriu commented on #82
I'd really like to get some documentation as well. Browsing code isn't that hard, yet after a being away from ember for a while + not being familiar with these libraries in the first place (tether poper etc), understanding the whole context is pretty daunting.

`ember-cli-addon-docs` is a great fit, and even if it's easier to add than actually creating interactive documentation from scratch, it's

[2019-10-03 00:28] samselikoff opened #111 "Animations?"
Great addon 👍

Any chance y'all have played with this + Ember Animated yet? Or what the animation story might be?

[2019-10-07 21:55] kybishop commented on #111
I built kybishop/ember-attacher for animation support, but it largely runs off RAF/CSS-based animations inspired by tippy.js.

[2019-12-06 00:02] acorncom commented on #34
@simonihmig think a stable release should be cut? Looks like 2 months have gone by without a breaking change ... 😉

[2020-01-31 18:20] 22a opened #113 "Popper v2 support"
Popper v2 was officially released a version or two ago. I'm just opening this as a tracking issue to see if/when ember-popper would support it.

[2020-02-09 23:01] #95 closed

[2020-02-20 08:45] lolmaus commented on #113
Yes please!

[2020-06-11 04:01] houfeng0923 opened #126 "use `ref` modifier is not compatible with ember lifecyle"
ember-popper component is ember component and use `didRender`,
`ref` modifier is not expected work  usually, component only set ref dom Node after didRender, not the dom inserted .

so, when didRender execute in https://github.com/kybishop/ember-popper/blob/master/addon/components/ember-popper-base.js#L163 , `_popperElement` is undefined , if we use #in-element (for example tooltip ui), it will sh

[2020-06-22 21:54] alexlafroscia commented on #113
In case you're interested in something a little different -- or a path to this addon supporting Popper V2 -- I am working on a modifier-based Ember addon for Popper here:

https://github.com/alexlafroscia/ember-popper-modifier

[2020-07-06 14:48] richard-viney commented on #126
I've encountered what I believe is the same issue, albeit showing up in a slightly different scenario.

Here's a PR that fixes the problem: #127

[2020-08-10 15:19] #126 closed

[2022-07-28 12:54] pzubar commented on #113
Hello! I've decided to try to [update](https://github.com/kybishop/ember-popper/pull/150) the addon's code to support the Popper v2.

Ember-popper is used in a great [ember-attacher](https://github.com/kybishop/ember-attacher) package so I thought it would be great to update it afterwards as well (cc @tylerturdenpants).

I am new to ember addons, so I would be glad to see the review comments if po

[2022-08-08 08:23] simonihmig commented on #113
I have stopped using this addon a while ago, so I will not be able to do any maintenance/review work here as I did before (to some small extent). Tbh not sure if this addon is still considered actively maintained, and by whom? 🤔